.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 20%;
}

/*!* The Modal (background) *!*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    padding-bottom: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background:rgba(255,255,255,0.8);
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    /*width: 100%;*/
    /*height: 50%;*/
    max-width: 60%;
    max-height: 60%;

}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 2%;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}